[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"

[dev-packages]
pytest = "*"
pylint = "*"
pytest-mock = "*"
moto = {extras = ["all"], version = "*"}
autopep8 = "*"

[requires]
python_version = "3.8"
