[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
requests = "*"
pyfiglet = "*"
pyyaml = "*"


[dev-packages]
pytest = "*"
pylint = "*"
pytest-mock = "*"
moto = {extras = ["all"], version = "*"}
autopep8 = "*"
flake8 = "*"
pyfiglet = "*"
pytest-watch = "*"


[requires]
python_version = "3.8"
