[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pyyaml = "*"
pyfiglet = "*"
build = "*"
twine = "*"

[dev-packages]
pytest = "*"
pylint = "*"
pytest-mock = "*"
moto = {extras = ["all"], version = "*"}
autopep8 = "*"
flake8 = "*"
pytest-watch = "*"
bandit = "*"

[requires]
python_version = "3.8"
